
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "OrdersHistory";
}

@using HurtowniaReptiGood.Models.ViewModels

@model OrderListViewModel

<h4>Historia zamówień</h4>
<body>
    <div>
        <table style="width:1200px" cellpadding="2" cellspacing="2" border="1">
            <tr scope="col" class="text-center">
                <th>Id</th>
                <th>Data</th>
                <th>Kwota</th>
                <th>Status</th>
                <th>Numer przesyłki</th>
                <th>Szczegóły</th>
            </tr>
            @foreach (OrderViewModel order in Model.OrdersList)
            {
                <tr text-align="center">
                    <td>@order.OrderId</td>
                    <td>@order.DateOrder</td>
                    <td>@order.ValueOrder zł</td>
                    <td>@order.StatusOrder</td>                  
                    <td>@order.TrackingNumber</td>
                    <td>
                        @using (Html.BeginForm("OrderHistoryDetails", "CustomerAccount", new { OrderId = order.OrderId }))
                        {<input type="submit" value="Pokaż" />}
                    </td>
                </tr>
             }
        </table>
    </div>
</body>
