
@{
    ViewData["Title"] = "OrderHistoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using HurtowniaReptiGood.Models.ViewModels
@model OrderAndOrderDetailListAndDpdTrackingStatusViewModel

<h1>Szczegóły zamówienia</h1>
<body>
    <div>
        <table style="width:1200px" cellpadding="2" cellspacing="2" border="1">
            <tr>               
                <th scope="col" class="text-center">Symbol towaru</th>
                <th scope="col" class="text-center">Nazwa towaru</th>
                <th scope="col" class="text-center">Ilość</th>
                <th scope="col" class="text-center">Cena</th>
                <th scope="col" class="text-center">Wartość</th>
            </tr>
            @foreach (OrderDetailViewModel orderItem in Model.OrderAndDetailsOrder.OrderDetails.OrderDetailList)
            {
                <tr text-align="center">                    
                    <td>@orderItem.ProductSymbol</td>
                    <td>@orderItem.ProductName</td>
                    <td>@orderItem.Quantity</td>
                    <td>@orderItem.Price zł</td>
                    <td>@(Convert.ToDouble(orderItem.Quantity) * orderItem.Price) zł</td>
                </tr>
            }
            <tr>
                <th scope="col" class="text-center" colspan="2">Wartość zamówienia</th>
                <th scope="col" class="text-center" colspan="3">@Model.OrderAndDetailsOrder.Order.ValueOrder zł</th>
            </tr>
            <tr>
                <th scope="col" class="text-center" colspan="2">Data zamówienia</th>
                <th scope="col" class="text-center" colspan="3">@Model.OrderAndDetailsOrder.Order.DateOrder</th>
            </tr>
            <tr>
                <th scope="col" class="text-center" colspan="2">Status zamówienia</th>
                <th scope="col" class="text-center" colspan="3">@Model.OrderAndDetailsOrder.Order.StatusOrder</th>
            </tr>
            <tr>
                <th scope="col" class="text-center">Numer przesyłki</th>
                <th scope="col" class="text-center">Status</th>
                <th colspan="2" scope="col" class="text-center">Data</th>
                <th scope="col" class="text-center">Miejsce</th>
            </tr>

            @foreach (DpdTrackingStatusViewModel status in Model.DpdTrackingStatusList.TrackingList)
            {
                <tr>
                    <td scope="col" class="text-center">@status.TrackingNumber</td>
                    <td scope="col" class="text-center">@status.Event</td>
                    <td colspan="2" scope="col" class="text-center">@status.EventDateTime</td>
                    <td scope="col" class="text-center">@status.EventPlace</td>
                </tr>
             }                
            </table>
        <p><br />
            <input type="button" class="myButton3" onclick="history.go(-1)" value="Wróć do listy zamówień" />
        </p>
    </div>
</body>



