
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Orders";
}
@using HurtowniaReptiGood.Models.ViewModels

@model OrderListViewModel

<h3>Zamówienia</h3>
<body>
    <div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Id</th>
                    <th scope="col" class="text-center">Klient</th>
                    <th scope="col" class="text-center">Data</th>
                    <th scope="col" class="text-center">Wartość</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Numer przesyłki</th>
                    <th scope="col" class="text-center">Edytuj</th>
                    <th scope="col" class="text-center">Pokaż</th>
                </tr>
            <thead>
            <tbody>
                @foreach (OrderViewModel order in Model.OrdersList)
                {
                <tr class="text-center">
                    <td>@order.OrderId</td>
                    <td>@order.Customer</td>
                    <td>@order.DateOrder</td>
                    <td>@order.ValueOrder zł</td>
                    <td>@order.StatusOrder</td>
                    <td>@order.TrackingNumber</td>
                    <td>
                        <button class="myButton3">
                            @Html.ActionLink("Edytuj", "EditOrder", "Admin",
                            new { orderId = order.OrderId })
                        </button>
                    </td>
                    <td>
                        <button class="myButton3">
                            @Html.ActionLink("Pokaż", "OrderDetails", "Admin",
                            new { OrderId = order.OrderId })
                        </button>
                    </td>
                </tr>
                }
            <tbody>
        </table>
    </div>
</body>


