
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "OrderDetails";
}
@using HurtowniaReptiGood.Models.ViewModels

@model OrderDetailsAndDpdTrackingStatusViewModel

<h3>Szczegóły zamówienia</h3>

<body>
    <div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Symbol</th>
                    <th scope="col" class="text-center">Nazwa</th>
                    <th scope="col" class="text-center">Sztuk</th>
                    <th scope="col" class="text-center">Cena</th>
                    <th scope="col" class="text-center">Wartość</th>
                    <th scope="col" class="text-center">Edytuj</th>
                </tr>
            <thead>
            <tbody>
                @foreach (OrderDetailViewModel detail in Model.OrderDetails.OrderDetailList)
                {
                    <tr class="text-center">
                        <td>@detail.ProductSymbol</td>
                        <td>@detail.ProductName</td>
                        <td>@detail.Quantity</td>
                        <td>@detail.Price</td>
                        <td>@detail.Value</td>
                        <td>
                            <form action="EditDetail" method="get">
                                <input type="hidden" name="OrderDetailId" value="@detail.OrderDetailId">
                                <input type="submit" value="Edytuj" />
                            </form>
                        </td>
                    </tr>
                }
                <tr>
                    <th scope="col" class="text-center">Numer przesyłki</th>
                    <th colspan="2" scope="col" class="text-center">Status</th>
                    <th colspan="2" scope="col" class="text-center">Data</th>
                    <th scope="col" class="text-center">Miejsce</th>
                </tr>

                @foreach (DpdTrackingStatusViewModel status in Model.DpdTrackingStatusList.TrackingList)
                {
                    <tr>
                        <td scope="col" class="text-center">@status.TrackingNumber</td>
                        <td colspan="2" scope="col" class="text-center">@status.Event</td>
                        <td colspan="2" scope="col" class="text-center">@status.EventDateTime</td>
                        <td scope="col" class="text-center">@status.EventPlace</td>
                    </tr>
                }

            <tbody>
        </table>
    </div>
</body>

