
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "GetProducts";
}

@using HurtowniaReptiGood.Models
@model ProductsListViewModel

<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr scope="col" class="text-center">
                    <th>Symbol</th>
                    <th>Nazwa</th>
                    <th>Producent</th>
                    <th>Zdjęcie</th>
                    <th>Cena</th>
                    <th>Stan</th>
                    <th>Edytuj</th>
                </tr>
            <thead>
            <tbody>
                @foreach (ProductViewModel product in Model.Products)
                {
                    <tr class="text-center">
                        <td>@product.ProductSymbol</td>
                        <td>@product.ProductName</td>
                        <td>@product.Manufacturer</td>
                        <td><img src="~/@product.Photo" width="200" /></td>
                        <td>@product.Price</td>
                        <td>@product.Stock szt</td>
                        <td>
                            <form action="ProductDetails" method="get">
                                <input type="hidden" name="ProductId" value="@product.ProductId">
                                <input type="submit" value="Edytuj" />
                            </form>
                        </td>
                    </tr>
                }
            <tbody>
        </table>
    </div>
</body>



