<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Cerulean
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131223

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />*@
    <link href="~/Media/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Media/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Media/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="C:\Users\mojeq\source\repos\WholesaleReptiGood\lib\bootstrap\css\bootstrap.css" rel="stylesheet" />

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><span class="icon icon-cog"></span><a href="#">Terra Hurt</a></h1>
                <span>Jesteś zalogowany: @ViewBag.userLogged</span>
                <button class="myButton">@Html.ActionLink("Wyloguj", "LogOut", "Home")</button>
                <button class="myButton">
                    @Html.ActionLink("Koszyk", "Cart", "Cart",
                new { OrderId = ViewBag.OrderId })
            </button>
            @*<div id="menu">
                    <ul>
                        <li class="current_page_item"><a href="#" accesskey="1" title="">Strona główna</a></li>
                        <li><a href="#" accesskey="3" title="">O nas</a></li>
                        <li><a href="#" accesskey="4" title="">Kontakt</a></li>
                        <li>@Html.ActionLink("Zamówienia", "OrdersList", "Account")</li>
                    </ul>
                </div>*@
            <nav>
                <ul>
                    <li>
                        @Html.ActionLink("Zamów", "Index", "Product")
                    </li>
                    <li>
                        @Html.ActionLink("Warunki", "Index", "Product")
                    </li>
                    <li>
                        @Html.ActionLink("Historia zamówień", "OrdersList", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Kontakt", "Contact", "Contact")
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div id="page-wrapper">
    <div id="page" class="container">
        <div class="title">
            <h1>Zamówienia hurtowe</h1>
        </div>
        <p>Produkty marek REPTI GOOD, REPASHY, LUCKY HERP, RINGDER</p>
    </div>
</div>


<div class="wrapper">
    <div style="padding-top:10px" class="container">
        @RenderBody()
    </div>

    <div id="three-column" class="container">
        <div id="tbox1">
            <div class="title">
                <h2>REPASHY</h2>
            </div>
            <p>Repashy to  marka produkująca wysokiej jakości pokarmy i suplementy dla gadów i płazów.</p>
            <a href="#" class="myButton4">Zamów</a>
        </div>
        <div id="tbox2">
            <div class="title">
                <h2>LUCKY HERP</h2>
            </div>
            <p>Lucky Herp to producent oświetlenia UV oraz grzewczego. Są to dobrej jakości produkty w dobrych cenach.</p>
            <a href="#" class="myButton4">Zamów</a>
        </div>
        <div id="tbox3">
            <div class="title">
                <h2>RINGDER</h2>
            </div>
            <p>Ringder to producent termostatów, hygrostatów i termometrów czyli urządzeń do kontroli temperatury oraz wilgotności.</p>
            <a href="#" class="myButton4">Zamów</a>
        </div>
    </div>
    <div id="portfolio" class="container">
        <div class="column1">
            <div class="box">
                <a href="#">
                    <img src="~/Media/img/terrarium_siatka4.jpg" alt="" class="image image-full" />
                </a>
                <h3>Terraria z siatki</h3>
                <p>Bardzo poszukiwane przez klientów, idealne do hodowli kameleonów.</p>
                <a href="#" class="myButton4">Zamów</a>
            </div>
        </div>
        <div class="column2">
            <div class="box">
                <a href="#">
                    <img src="~/Media/img/180_3.jpg" alt="" class="image image-full" />
                </a>
                <h3>Lampy</h3>
                <p>Najtańsze lampy na rynku, ceramiczna oprawka do 250W.</p>
                <a href="#" class="myButton4">Zamów</a>
            </div>
        </div>
        <div class="column3">
            <div class="box">
                <a href="#">
                    <img src="~/Media/img/mata5w-r.jpg" alt="" class="image image-full" />
                </a>
                <h3>Maty grzewcze</h3>
                <p>Maty grzejne z regulacją lub bez regulacji. Najbardziej popularne w okresie jesienno-zimowym.</p>
                <a href="#" class="myButton4">Zamów</a>
            </div>
        </div>
        <div class="column4">
            <div class="box">
                <a href="#">
                    <img src="~/Media/img/50.jpg" alt="" class="image image-full" />
                </a>
                <h3>Oświetlenie UVB</h3>
                <p>Niezbędne przy hodowli gadów, potrzebne przez cały rok.</p>
                <a href="#" class="myButton4">Zamów</a>
            </div>
        </div>
    </div>
</div>
<div id="wrapper2">
    <p>Warunki i zasady handlowe:</p>
    <p>- minimalne zamówienie 500zł netto </p>
    <p>- koszt wysyłki 18zł przedpłata/pobranie</p>
    <p>- przy zamówieniu 800zł netto wysyłka gratis</p>
    <p>- przy zamówieniu 1500zł netto 5% rabatu</p>
    <p>- przy zamówieniu 3000zł netto 9% rabatu</p>
</div>
<div id="copyright" class="container">
    <p>&copy; HURTOWNIA ZOOLOGICZNO-TERRARYSTYCZNA</p>
    <a href="www.reptigood.pl">reptigood.pl</a>
    <ul class="contact">
        <li><p>Polub nas na FB</p><a href="#" class="icon icon-facebook"><span></span></a></li>
    </ul>
</div>
</body>
</html>


