
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using HurtowniaReptiGood.Models
@model ProductsListViewModel

<body>
    <style>
        .zoom {
            padding: 5px;
            
            transition: transform .2s; /* Animation */
            width: 80px;            
            margin: 0 auto;
        }

            .zoom:hover {
                transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
    </style>
    <div class="zoom"></div>
    <div>
        <form action="ShowProductsFromCategory" method="get">
            <label class="category">Wybierz producenta:</label>
            <select class="form-control" name="ProductCategory" typeof="text">
                <option>wszyscy</option>
                <option>Hobby</option>
                <option>Repashy</option>
                <option>Repti Good</option>
                <option>Ringder</option>
            </select>
            <input class="myButton4" type="submit" value="Pokaż produkty" />
        </form><br />

        <table style="width:1200px" cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Symbol</th>
                <th>Nazwa</th>
                <th>Zdjęcie</th>
                <th>Cena brutto</th>
                <th>Stan</th>
                <th>Do koszyka</th>
            </tr>
            @foreach (ProductViewModel product in Model.Products)
            {
                <tr text-align="center">
                    <td>@product.ProductSymbol</td>
                    <td>@product.ProductName</td>
                    <td><img src="~/@product.Photo" class="zoom"/></td>
                    <td>@product.Price zł</td>
                    <td>@product.Stock szt</td>
                    <td>
                        @using (Html.BeginForm("AddItemToCart", "Cart"))
                        {
                            <input type="hidden" name="ProductId" value="@product.ProductId">
                            <input type="hidden" name="ProductSymbol" value="@product.ProductSymbol">
                            <input type="hidden" name="ProductName" value="@product.ProductName">
                            <input type="hidden" name="Price" value="@product.Price">
                            <label name="Quantity">Sztuk: </label>
                            <input size="5" type="number" height="25" name="Quantity" min="1" max="@product.Stock" value="1" />
                            <input type="submit" value="Dodaj" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</body>




